<li class="list-group-item">
  <div class="row">
    <div class="col-sm-6">
      <p class="<%= item.text_css %>"><%= item.title %></p>
    </div>
    <div class="col-sm-6">
      <!-- Update form -->
      <% if item.active?%>
        <form action="/groups/<%= @group.id %>/items/<%= item.id %>" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="done" value="true">
          <button class="btn btn-info btn-sm">Деактивировать</button>
        </form>
      <% else %>
        <form action="/groups/<%= @group.id %>/items/<%= item.id %>" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="done" value="false">
          <button class="btn btn-info btn-sm">Активировать</button>
        </form>
      <% end %>

      <!-- Delete form -->
      <form action="/groups/<%= @group.id %>/items/<%= item.id %>" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger btn-sm" type="submit">Удалить пункт</button>
      </form>
    </div>
  </div>
</li>
