<div class="row mb-5">
  <div class="col-sm-6">
    <h3>List: <%= @group.title %></h3>
    <small>Description: <%= @group.description %></small><br/>
    <small>Items count: <%= @group.items.count %></small><br/>
    <small>Active items: <%= @group.items.active.count %></small><br/>
    <small>Done: <%= @group.items.not_active.count %></small><br/>
    <form action="/groups/<%= @group.id %>" method="post" enctype="application/x-www-form-urlencoded" class="mt-2">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger btn-sm">delete list</button>
    </form>
  </div>
</div>

<%= render_partial :new_item_form, locals: { item: Item.new } %>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <% if @items.size > 0 %>
        <%= render_partial :list_item, collection: @items %>
      <% else %>
        <li class="list-group-item">Not data. Please, add new items</li>
      <% end %>
    </ul>
  </div>
  <div class="col">
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <a href="/">Go to root page</a>
  </div>
  <div class="col">
  </div>
</div>
