<div class="row mb-5">
  <div class="col-sm-6">
    <h3>Лист: <%= @group.title %></h3>
    <small>Описание: <%= @group.description %></small>
    <form action="/groups/<%= @group.id %>" method="post" enctype="application/x-www-form-urlencoded" class="mt-2">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger btn-sm">удалить список</button>
    </form>
  </div>
</div>

<%= render_partial :new_item_form %>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <% if @items.size > 0 %>
        <% @items.each do |item| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-8">
                <p><%= item.title %></p>
              </div>
              <div class="col-sm-4">
                <form action="/groups/<%= @group.id %>/items/<%= item.id %>" method="post" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger btn-sm">Удалить пункт</button>
                </form>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">Данных нет. Пожалуйста добавьте данные в лист</li>
      <% end %>
    </ul>
  </div>
  <div class="col">
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <a href="/">Вернутся на главную</a>
  </div>
  <div class="col">
  </div>
</div>
